@model ErrorViewModel
@{
    Layout = "_TitleLayout";
    ViewData["Title"] = "Error";
    ViewData["DisplayedTitle"] = "Erreur";
}

<h2 class="text-danger">Une erreur est survenue lors du traitement de votre requête.</h2>
