@{
    Layout = "_TitleLayout";
    ViewData["Title"] = "Equipe créée";
    ViewData["DisplayedTitle"] = "Votre équipe a été enregistrée avec succès.";
}
<div class="d-flex justify-content-center m-5">
    <a asp-controller="Home" asp-action="Index" class="btn btn-info btn-lg" role="button">Revenir à l'acceuil</a>
</div>